{
  "presets": [
    ["@babel/env", { "targets": { "browsers": ["last 1 chrome versions"] } }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": false }]
  ]
}
