.DS_store

*.tgz
/dist
/storybook-static
/_virtual
/_tmp
/coverage

cc-test-reporter

/StripeBase.js
/StripeElements.js
/StripePaymentRequest.js
/stripe-elements.js
/stripe-payment-request.js
/shared.js
/*.d.ts
/*.js.map
/index.js
/lib

bower_components/
node_modules/
