bower_components/
node_modules/
.DS_store

*.tgz
/dist
/storybook-static
/_virtual
/_site
/_tmp
/coverage

cc-test-reporter

src/*.js
src/*.js.map
src/*.d.ts
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
*.js
*.js.map
*.d.ts
!src/global.d.ts
!*.config.js
/lib

!/scripts/build.js
!/docs/main.js
!/docs/frame.js
