<link rel="preconnect" href="https://ga.jspm.io"/>
<link rel="preconnect" href="https://js.stripe.com"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lavadrop/camel-case@0.4.0/camelCase.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lavadrop/kebab-case@3.0.0/kebabCase.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/css-tag.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/base.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/custom-element.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/event-options.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/property.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/query-all.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/query-assigned-elements.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/query-assigned-nodes.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/query-async.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/query.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/decorators/state.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@lit/reactive-element@1.1.2/development/reactive-element.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:@pacote/memoize@1.1.6/lib/esm/index.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit-element@3.1.1/development/lit-element.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit-html@2.1.1/development/directive-helpers.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit-html@2.1.1/development/directive.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit-html@2.1.1/development/directives/class-map.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit-html@2.1.1/development/directives/if-defined.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit-html@2.1.1/development/directives/live.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit-html@2.1.1/development/directives/style-map.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit-html@2.1.1/development/lit-html.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit@2.0.2/directives/if-defined.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit@2.0.2/index.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit@2.1.1/decorators.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit@2.1.1/directive.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit@2.1.1/directives/class-map.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit@2.1.1/directives/if-defined.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit@2.1.1/directives/live.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit@2.1.1/directives/style-map.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:lit@2.1.1/index.js"/>
<link rel="modulepreload" href="https://ga.jspm.io/npm:tslib@2.3.1/tslib.es6.js"/>
