[hidden] {
  display: none !important;
}
:host {
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  align-items: center;
  display: grid;
  grid-gap: 12px;
  grid-template-areas:
    "support support"
    "stripe submit"
    "output output";
}
stripe-payment-request {
  grid-area: submit/stripe/stripe/submit;
}
stripe-elements {
  grid-area: stripe;
}
mwc-button {
  grid-area: submit;
}
json-viewer {
  grid-area: output;
}

stripe-elements:not(:defined),
json-viewer:not(:defined),
mwc-button:not(:defined) {
  display: none;
}